charset-normalizer==3.3.2
DateTime==5.5
et-xmlfile==1.1.0
idna==3.7
numpy==1.26.4
openpyxl==3.1.2
packaging==23.0
pandas==2.2.2
pytest==8.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests>=2.32.0
sapphire-api-client @ git+https://github.com/hydrosolutions/sapphire-api-client.git
