numpy==1.24.3
pandas==2.0.3
typing
panel==1.8.4
holoviews==1.21.0
bokeh==3.8.2
pytest>=7.5.0
python-dotenv==1.0.0
watchfiles>=0.22.0
scipy==1.13.0
docker==7.1.0 
playwright==1.51.0
pytest-playwright==0.7.0